<div class="col-md-12">
  <div class="content-box-large">
    <div class="panel-heading">
      <div class="panel-title"><%= t "admin.index.comment" %></div>
      <div class="panel-options">
        <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
        <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
      </div>
    </div>
    <div class="panel-body">
    <% flash.each do |key, value| %>
      <div class="row">
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      </div>
    <% end %>
      <table class="table table-hover">
        <tr>
          <th>#</th>
          <th><%= t "admin.index.content" %></th>
          <th><%= t "admin.index.user" %></th>
          <th><%= t "admin.index.location" %></th>
          <th><%= t "admin.index.action" %></th>
        </tr>
        <tbody>
          <% @comments.each_with_index do |comment,index| %>
          <tr>
            <td><%= count_number index, @comments.current_page %></td>
            <td><%= comment.content %></td>
            <td><%= comment.user.name %></td>
            <td><%= comment.location.name %></td>
            <td>
              <%= link_to admin_comment_path(comment) , method: :delete, data: {confirm: t("admin.index.you_sure")} do %>
                <i class="glyphicon glyphicon-trash"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @comments, theme: "twitter-bootstrap-3" %>
    </div>
  </div>
</div>
</div>
