<%= render "layouts/banner" %>
<div id="content">
  <div id="newest">
    <div class="title_newest">
      <p><%= t ".newesttour" %></p>
    </div>
    <div class="three row">
      <% @location_newest.each do |l| %>
      <div class="three_img col-md-3">
        <%= link_to image_tag l.picture.url %>
        <div class="name_img">
          <p><%= link_to l.name, location_path(l) %></p>
        </div>
        <div class="left">
          <p><span><%= t ".time" %></span> <%= l.tour.duration %></p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> <%= l.tour.money %></p>
        </div>
      </div>
      <%end%>
    </div>
  </div>

  <div id="advert">
    <p><%= link_to image_tag("quangcao.gif") %></p>
  </div>

  <div id="extendTour">
    <div id="title_rest">
      <p><%= t ".othertour" %></p>
    </div>
    <div class="row">
     <% @location.each do |location| %>
      <div class="three_img col-md-3">
        <%= link_to image_tag location.picture.url %>
        <div class="name_img">
          <p><%= link_to location.name, location_path(location) %></p>
        </div>
        <div class="left">
          <p><span><%= t ".time" %></span> <%= location.tour.duration %></p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> <%= location.tour.money %></p>
        </div>
      </div>
      <%end%>
    </div>
  </div>
  <%= paginate @location, theme: "twitter-bootstrap-3" %>
  <div id="centerHr">
    <span><%= t ".info" %></span>
  </div>

  <div id="infor">
    <div class="left">
      <%= link_to image_tag("hoa.jpg") %>
    </div>
    <div class="right">
      <p><span><%= t ".tourismhanoi" %></span> <%= t ".info_ensure" %></p>
      <p><%= t ".benifit" %><span>Funago.net</span> <%= t ".card" %></p>
      <p><%= t ".go" %></p>
    </div>
  </div>
</div>
