<div id="content">
  <div id="newest">
    <div class="title_newest">
      <p><%= t ".newesttour" %></p>
    </div>
    <div class="three">
      <div class="three_img">
        <%= link_to image_tag("ho-guom-1.jpg") %>
        <div class="name_img">
          <p><%= link_to "Tour vòng quanh Hà Nội", "#" %></p>
        </div>
        <div class="left">
          <p><span><%= t ".codetour" %></span> MT1-KHYQ</p>
          <p><span><%= t ".time" %></span> 1 ngày</p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> 1000k</p>
        </div>
      </div>
      <div class="three_img">
        <%= link_to image_tag("ho-guom-1.jpg") %>
        <div class="name_img">
          <p><%= link_to "Tour vòng quanh Hà Nội", "#" %></p>
        </div>
        <div class="left">
          <p><span><%= t ".codetour" %></span> MT1-KHYQ</p>
          <p><span><%= t ".time" %></span> 1 ngày</p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> 1000k</p>
        </div>
      </div>
      <div class="three_img">
        <%= link_to image_tag("ho-guom-1.jpg") %>
        <div class="name_img">
          <p><%= link_to "Tour vòng quanh Hà Nội", "#" %></p>
        </div>
        <div class="left">
          <p><span><%= t ".codetour" %></span> MT1-KHYQ</p>
          <p><span><%= t ".time" %></span> 1 ngày</p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> 1000k</p>
        </div>
      </div>
    </div>
  </div>

  <div id="advert">
    <p><%= link_to image_tag("quangcao.gif") %></p>
  </div>

  <div id="extendTour">
    <div id="title_rest">
      <p>Các tour khác</p>
    </div>
    <div class="row">
      <div class="three_img">
        <%= link_to image_tag("phoco.jpg") %>
        <div class="name_img">
          <p><%= link_to "Tour đi dạo ở phố đi bộ", "#" %></p>
        </div>
        <div class="left">
          <p><span><%= t ".codetour" %> </span> MT1-KHYQ</p>
          <p><span><%= t ".time" %></span> 1 ngày</p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> 1000k</p>
        </div>
      </div>
      <div class="three_img">
        <%= link_to image_tag("phoco.jpg") %>
        <div class="name_img">
          <p><%= link_to "Tour đi dạo ở phố đi bộ", "#" %></p>
        </div>
        <div class="left">
          <p><span><%= t ".codetour" %></span> MT1-KHYQ</p>
          <p><span><%= t ".time" %></span> 1 ngày</p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> 1000k</p>
        </div>
      </div>
      <div class="three_img">
        <%= link_to image_tag("phoco.jpg") %>
        <div class="name_img">
          <p><%= link_to "Tour đi dạo ở phố đi bộ", "#" %></p>
        </div>
        <div class="left">
          <p><span><%= t ".codetour" %></span> MT1-KHYQ</p>
          <p><span><%= t ".time" %></span> 1 ngày</p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> 1000k</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="three_img">
        <%= link_to image_tag("phoco.jpg") %>
        <div class="name_img">
          <p><%= link_to "Tour đi dạo ở phố đi bộ", "#" %></p>
        </div>
        <div class="left">
          <p><span><%= t ".codetour" %></span> MT1-KHYQ</p>
          <p><span><%= t ".time" %></span> 1 ngày</p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> 1000k</p>
        </div>
      </div>
      <div class="three_img">
        <%= link_to image_tag("phoco.jpg") %>
        <div class="name_img">
          <p><a href="#">Tour đi dạo ở phố đi bộ</a></p>
        </div>
        <div class="left">
          <p><span><%= t ".codetour" %></span> MT1-KHYQ</p>
          <p><span><%= t ".time" %></span> 1 ngày</p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> 1000k</p>
        </div>
      </div>
      <div class="three_img">
        <%= link_to image_tag("phoco.jpg") %>
        <div class="name_img">
          <p><%= link_to "Tour đi dạo ở phố đi bộ", "#" %></p>
        </div>
        <div class="left">
          <p><span><%= t ".codetour" %></span> MT1-KHYQ</p>
          <p><span><%= t ".time" %></span> 1 ngày</p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> 1000k</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="three_img">
        <%= link_to image_tag("phoco.jpg") %>
        <div class="name_img">
          <p><%= link_to "Tour đi dạo ở phố đi bộ", "#" %></p>
        </div>
        <div class="left">
          <p><span><%= t ".codetour" %></span> MT1-KHYQ</p>
          <p><span><%= t ".time" %></span> 1 ngày</p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> 1000k</p>
        </div>
      </div>
      <div class="three_img">
        <%= link_to image_tag("phoco.jpg") %>
        <div class="name_img">
          <p><%= link_to "Tour đi dạo ở phố đi bộ", "#" %></p>
        </div>
        <div class="left">
          <p><span><%= t ".codetour" %></span> MT1-KHYQ</p>
          <p><span><%= t ".time" %></span> 1 ngày</p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> 1000k</p>
        </div>
      </div>
      <div class="three_img">
        <%= link_to image_tag("phoco.jpg") %>
        <div class="name_img">
          <p><%= link_to "Tour đi dạo ở phố đi bộ", "#" %></p>
        </div>
        <div class="left">
          <p><span><%= t ".codetour" %></span> MT1-KHYQ</p>
          <p><span><%= t ".time" %></span> 1 ngày</p>
        </div>
        <div class="right">
          <p><span><%= t ".money" %></span> 1000k</p>
        </div>
      </div>
    </div>
  </div>

  <div id="centerHr">
    <span><%= t ".info" %></span>
  </div>

  <div id="infor">
    <div class="left">
      <%= link_to image_tag("hoa.jpg") %>
    </div>
    <div class="right">
      <p><span><%= t ".tourismhanoi" %></span> <%= t ".info_ensure" %></p>
      <p><%= t ".benifit" %><span>Funago.net</span> <%= t ".card" %></p>
      <p><%= t ".go" %></p>
    </div>
  </div>
</div>
