<div class="row signup">
  <h1 class="text-center text-info"><%= t ".login" %></h1>
  <div class="col-lg-offset-4 col-lg-4">
    <% flash.each do |key, value| %>
      <div class="row">
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      </div>
    <% end %>
    <%= form_for :session, url: login_path do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %><br>

      <%= f.submit t(".log_in"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
