<div class="col-md-6">
  <div class="content-box-large">
    <div class="panel-heading">
      <div class="panel-title"><%= t "admin.edit.edit_tour" %></div>

      <div class="panel-options">
        <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
        <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
      </div>
    </div>
    <div class="panel-body">
      <%= form_for [:admin,@tour] do |f| %>
        <fieldset>
          <div class="form-group">
           <%= f.label :name %>
           <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
           <%= f.label :departureDay %>
           <%= f.date_field :departureDay, class: "form-control" %>
          </div>
          <div class="form-group">
           <%= f.label :duration %>
           <%= f.number_field :duration, class: "form-control" %>
          </div>
          <div class="form-group">
           <%= f.label :money %>
           <%= f.number_field :money, class: "form-control" %>
          </div>
          <div class="form-group">
           <%= f.label :schedule %>
           <%= f.text_field :schedule, class: "form-control" %>
          </div>
          <div class="form-group">
           <%= f.label :picture %>
           <%= image_tag @tour.picture.url, class: "image-admin" %>
           <%= f.file_field :picture, class: "form-control" %>
          </div>
        </fieldset>
        <div>
            <%= f.submit t("admin.edit.edit_tour"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
