<div id="footer">
  <div class="left">
    <p id="contact"><%= t ".contact" %></p>
    <p><i class="fas fa-home"><%= t ".address" %></i></p>
    <p><i class="fas fa-phone"></i> <%= t ".phone" %></p>
    <p><i class="fas fa-envelope"></i> <%= t ".email" %></p>
  </div>
  <div class="right">
    <p><%= t ".entermail" %></p>
    <input type="email" name="email" id="email" placeholder="<%= t ".entermail" %>">
  </div>
</div>
