<div class="col-md-2">
  <div class="sidebar content-box" style="display: block;">
    <ul class="nav">
      <li class="current">
        <%= link_to "#" do %>
          <i class="glyphicon glyphicon-home"></i> <%= t "dashboard" %>
        <% end %>
      </li>
      <li class="submenu">
        <a href="#">
          <i class="glyphicon glyphicon-list"></i> <%= t ".page" %>
          <span class="caret pull-right"></span>
        </a>
        <ul>
          <li><%= link_to t(".login"), "#" %></li>
          <li><%= link_to t(".signup"), "#" %></li>
        </ul>
      </li>
  </ul>
</div>
</div>
